* {
  margin: 0;
}

#flexEnable {
  display: flex;
  flex-wrap: wrap;
}

.sb {
  /* flex: 0 1 150px; */
  margin: 5px;
}

.standard {
  position: absolute;
  border-radius: 25px;
  width: 400px;
  height: 400px;
  background: rgb(255, 255, 255, 0);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  transition: all 0.5s;
}

.standard:hover {
  position: absolute;
  border-radius: 25px;
  width: 400px;
  height: 400px;
  background: rgba(31, 229, 255, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

img {
  border-radius: 25px;
  width: 400px;
  height: 400px;
}

.context {
  color: white;
  position: absolute;
  padding: 20px 20px 20px 20px;
}
.context p {
  font-size: 30px;
  text-underline-offset: none;
}
.context span {
  font-size: 20px;
}
